{% extends 'base.html' %}
{% block title %} Task Blog! {% endblock %}

{% block content %}

    {% if user.is_authenticated and user.is_staff %}

        <section class="section">
            <div class="container">
                <main>
                    <div class="row py-2 justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <h2 class="text-center btn-blue mb-4">New Task</h2>
                        </div>
                    </div>
                    <div class="row g-4 justify-content-center">
                        <div class="col-md-7 col-lg-8">
                            <form method="Post" class="row mb-3 " enctype="multipart/form-data">
                                <div class="text-left row container form-group-sm">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <p>
                                        <button class="btn btn-success">Create</button>
                                        <a href="{% url 'home_view' %}" class="btn text-center btn-danger">Cancel</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </section>

    {% elif user.is_authenticated and not user.is_staff %}
        <div class="py-5 text-center">
            <p class="lead btn-blue"> You don't have permissions to add task. </p>
        </div>

    {% else %}

        <div class="py-5 text-center">
            <p class="lead btn-blue"> You are not authenticated. </p>
        </div>

    {% endif %}

{% endblock %}